.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
   
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
}

.monkey {
    background-image: url('monkey.png');
    background-size: cover;
}

.rule {
    color: rgb(70, 70, 83);
    font-size: 1.2em;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

